variables:
    DEV_SERVER_HOST: 192.168.0.95
    IMAGE_NAME: $CI_REGISTRY_IMAGE
    IMAGE_TAG: "3.1"
stages:
    - test 
    - build
    - deploy

run_unit_tests:
    stage: test
    before_script:
        - echo "Preparing test data..."
    script:
        - echo "Running unit tests..." 
    after_script:
        - echo "Cleaning up temporary files..."       

run_lint_tests:
    stage: test
    before_script:
        - echo "Preparing test data..."
    script:
        - echo "Running lint tests..." 
    after_script:
        - echo "Cleaning up temporary files..."

build_image:
    stage: build
    script:
        - echo "building and tagging the docker image..."
        - docker build -t $CI_REGISTRY_IMAGE:$IMAGE_TAG .

push_image:
    stage: build
    needs:
        - build_image
    before_script:
        - echo "docker registry is $CI_REGISTRY "
        - echo "username is $CI_REGISTRY_USER "
        - echo "docker image is $CI_REGISTRY_IMAGE"
        - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD

    script:
        - echo "pushing docker inmage to registry..."
        - docker push $CI_REGISTRY_IMAGE:$IMAGE_TAG

deploy_image:
    stage: deploy
    before_script:
        - chmod 400 $ssh_key
    script:
        - echo "Deploying new docker image..."
        - scp -o StrictHostKeyChecking=no -i $ssh_key ./docker-compose.yaml denis7@$DEV_SERVER_HOST:/home/denis7   
        - ssh -i $ssh_key denis7@$DEV_SERVER_HOST "
          docker login http://$CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD &&

          export DC_IMAGE_NAME=$IMAGE_NAME &&
          export DC_IMAGE_TAG=$IMAGE_TAG &&

          docker-compose -f docker-compose.yaml down &&
          docker-compose -f docker-compose.yaml up -d"
          

